#wrapper
{
    width: 100%;
    background-color: #F8F8F8;
}

.navbar.navbar-default
{
    margin-bottom: 0px;
}

/* Navbar icons */
.topnav-dashboard > a:before
{
    font-family: FontAwesome;
    top:3px;
    margin-right: 10px;
    content: "\f015";
    font-size: 1.5em;
    position: inherit;
}

.topnav-admin > a:before
{
    font-family: FontAwesome;
    top:3px;
    margin-right: 10px;
    content: "\f085";
    font-size: 1.5em;
    position: inherit;
}

.topnav-client > a:before
{
    font-family: FontAwesome;
    top:3px;
    margin-right: 10px;
    content: "\f0c0";
    font-size: 1.5em;
    position: inherit;
}

.topnav-dns > a:before
{
    font-family: FontAwesome;
    top:3px;
    margin-right: 10px;
    content: "\f0b2";
    font-size: 1.5em;
    position: inherit;
}

.topnav-help > a:before
{
    font-family: FontAwesome;
    top:3px;
    margin-right: 10px;
    content: "\f1cd";
    font-size: 1.5em;
    position: inherit;
}

.topnav-mail > a:before
{
    font-family: FontAwesome;
    top:3px;
    margin-right: 10px;
    content: "\f0e0";
    font-size: 1.5em;
    position: inherit;
}

.topnav-monitor > a:before
{
    font-family: FontAwesome;
    top:3px;
    margin-right: 10px;
    content: "\f108";
    font-size: 1.5em;
    position: inherit;
}

.topnav-sites > a:before
{
    font-family: FontAwesome;
    top:3px;
    margin-right: 10px;
    content: "\f07b";
    font-size: 1.5em;
    position: inherit;
}

.topnav-tools > a:before
{
    font-family: FontAwesome;
    top:3px;
    margin-right: 10px;
    content: "\f0ad";
    font-size: 1.5em;
    position: inherit;
}

.topnav-vm > a:before
{
    font-family: FontAwesome;
    top:3px;
    margin-right: 10px;
    content: "\f233";
    font-size: 1.5em;
    position: inherit;
}

#sideNav
{
    z-index: 1;
    margin-top: 10px;
    position: absolute;
    width: 250px;
    background-color: #F8F8F8;
}

.sidebar ul li {
    font-weight: bold;
}

.sidebar ul {
    margin-bottom: 20px;
}

.sidebar ul li select
{
    margin: 5px 30px;
}

.sidebar ul li.title {
    font-weight: bold;
    padding-left: 15px;
    color: #898989;
}

.sidebar ul li a
{
    padding: 5px 30px;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar ul li.news-item
{
    font-weight: normal;
}

#page
{
    position: inherit;
    margin: -20px 0 0 251px;
    padding: 1px 30px;
    border-left: 1px solid #e7e7e7;
    min-height: 865px;
    background-color: #fff;
}

#page.login-page
{
    margin: -20px 0 0 0;
    border-left: none;
}

footer
{
    width: 100%;
    text-align: center;
    margin-top: -10px;
}

.pageForm_description
{
    display: none;
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
}

.checkbox > input[type=checkbox]
{
    margin-left: 0;
}

.panel-login
{
    width: 580px;
    margin: auto;
    margin-top: 100px;
}