<div class='page-header'>
    <h1><tmpl_var name="list_head_txt">
        <button class="btn btn-success pull-right" type="button" onclick="loadContent('admin/directive_snippets_edit.php')">{tmpl_var name="add_new_record_txt"}</button>
    </h1>
</div>

<table class="table table-hover">
    <thead class="form-group">
        <tr>
            <th class="tbl_col_active" scope="col"><tmpl_var name="active_txt"></th>
            <th class="tbl_col_name" scope="col"><tmpl_var name="name_txt"></th>
            <th class="tbl_col_type" scope="col"><tmpl_var name="type_txt"></th>
            <th class="tbl_col_limit" scope="col">{tmpl_var name='search_limit'}</th>
        </tr>
        <tr>
            <td><select class="form-control" name="search_active">{tmpl_var name='search_active'}</select></td>
            <td><input class="form-control" type="text" name="search_tcp_port" value="{tmpl_var name='search_tcp_port'}" /></td>
            <td><select class="form-control" name="search_type">{tmpl_var name='search_type'}</select></td>
            <td><button type="button" class="btn btn-default" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" onclick="submitForm('pageForm','admin/directive_snippets_list.php');"><span>{tmpl_var name="filter_txt"}</span></button>
            </td>
        </tr>
    </thead>
    <tbody>
        <tmpl_loop name="records">
            <tr>
                <td class="tbl_col_active"><a href="#" onclick="loadContent('admin/directive_snippets_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="active"}</a></td>
                <td class="tbl_col_name"><a href="#" onclick="loadContent('admin/directive_snippets_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="name"}</a></td>
                <td class="tbl_col_type"><a href="#" onclick="loadContent('admin/directive_snippets_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="type"}</a></td>
                <td class="tbl_col_buttons">
                    <a class="btn btn-danger" href="javascript: del_record('admin/directive_snippets_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tmpl_loop>
        <tmpl_unless name="records">
            <tr>
                <td colspan="4">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
            </tr>
        </tmpl_unless>
    </tbody>

    <tfoot>
        <tr>
        <td class="tbl_footer tbl_paging" colspan="4"><tmpl_var name="paging"></td>
        </tr>
    </tfoot>
</table>