<div class='page-header'>
    <h1><tmpl_var name="list_head_txt"></h1>
</div>

<tmpl_if name='error'>
    <div class="alert alert-danger" role="alert">
        <h3>ERROR</h3><ol><tmpl_var name="error"></ol>
    </div>
</tmpl_if>
<tmpl_if name='msg'>
    <div class="alert alert-info" role="alert">
        <tmpl_var name="msg">
    </div>
</tmpl_if>

<div class="form-horizontal">
    <div class="form-group">
        <label for="lng_select" class="col-sm-3 control-label">{tmpl_var name='language_select_txt'}</label>
        <div class="col-sm-6">
            <select name="lng_select" id="lng_select" class="form-control">
                {tmpl_var name='language_option'}
            </select>
        </div>
    </div>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-primary" type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','admin/language_export.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="btn btn-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('admin/language_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
</div>