<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='auto_network_configuration_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='auto_network_configuration'}
            </div>
            <span class="help-block">
                {tmpl_var name='network_config_warning_txt'}
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='ip_address_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="ip_address" id="ip_address" value="{tmpl_var name='ip_address'}" size="30" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='netmask_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="netmask" id="netmask" value="{tmpl_var name='netmask'}" size="30" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='gateway_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="gateway" id="gateway" value="{tmpl_var name='gateway'}" size="30" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='hostname_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="hostname" id="hostname" value="{tmpl_var name='hostname'}" size="30" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='nameservers_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nameservers" id="nameservers" value="{tmpl_var name='nameservers'}" size="30" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="language" class="col-sm-3 control-label">{tmpl_var name='firewall_txt'}</label>
        <div class="col-sm-6">
            <select name="server_id" id="server_id" class="form-control">
                {tmpl_var name='firewall'}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="language" class="col-sm-3 control-label">{tmpl_var name='loglevel_txt'}</label>
        <div class="col-sm-6">
            <select name="server_id" id="server_id" class="form-control">
                {tmpl_var name='loglevel'}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="language" class="col-sm-3 control-label">{tmpl_var name='admin_notify_events_txt'}</label>
        <div class="col-sm-6">
            <select name="server_id" id="server_id" class="form-control">
                {tmpl_var name='admin_notify_events'}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='backup_dir_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="backup_dir" id="backup_dir" value="{tmpl_var name='backup_dir'}" size="30" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='backup_dir_is_mount_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='backup_dir_is_mount'}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="language" class="col-sm-3 control-label">{tmpl_var name='backup_mode_txt'}</label>
        <div class="col-sm-6">
            <select name="server_id" id="server_id" class="form-control">
                {tmpl_var name='backup_mode'}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='monit_url_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="monit_url" id="monit_url" value="{tmpl_var name='monit_url'}">
            <span class="help-block">
                {tmpl_var name='monit_url_note_txt'} <a href="javascript:void(0);" class="addPlaceholder">[SERVERNAME]</a>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='monit_user_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="monit_user" id="monit_user" value="{tmpl_var name='monit_user'}" size="30" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='monit_password_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="monit_password" id="monit_password" value="{tmpl_var name='monit_password'}" size="30" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='munin_url_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="munin_url" id="munin_url" value="{tmpl_var name='munin_url'}">
            <span class="help-block">
                {tmpl_var name='munin_url_note_txt'} <a href="javascript:void(0);" class="addPlaceholder">[SERVERNAME]</a>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='munin_user_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="munin_user" id="munin_user" value="{tmpl_var name='munin_user'}" size="30" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='munin_password_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="munin_password" id="munin_password" value="{tmpl_var name='munin_password'}" size="30" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='monitor_system_updates_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='monitor_system_updates'}
            </div>
        </div>
    </div>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-primary" type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','admin/server_config_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="btn btn-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('admin/server_config_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
</div>
