<div class="form-horizontal">
    <div class="form-group">
        <label for="language" class="col-sm-3 control-label">{tmpl_var name='server_type_txt'}</label>
        <div class="col-sm-6">
            <select name="server_type" id="server_type" class="form-control">
                {tmpl_var name='server_type'}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='website_basedir_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="website_basedir" id="website_basedir" value="{tmpl_var name='website_basedir'}" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='website_path_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="website_path" id="website_path" value="{tmpl_var name='website_path'}" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='website_symlinks_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="website_symlinks" id="website_symlinks" value="{tmpl_var name='website_symlinks'}" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='website_symlinks_rel_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='website_symlinks_rel'}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='network_filesystem_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='network_filesystem'}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='website_autoalias_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="website_autoalias" id="website_autoalias" value="{tmpl_var name='website_autoalias'}" maxlength="255">
            <span class="help-block">
            {tmpl_var name='website_autoalias_note_txt'} <a href="javascript:void(0);" class="addPlaceholder">[client_id]</a>, <a href="javascript:void(0);" class="addPlaceholder">[client_username]</a>, <a href="javascript:void(0);" class="addPlaceholder">[website_id]</a>, <a href="javascript:void(0);" class="addPlaceholder">[website_domain]</a>
            </span>
        </div>
    </div>
    <div class="form-group apache">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='vhost_conf_dir_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="vhost_conf_dir" id="vhost_conf_dir" value="{tmpl_var name='vhost_conf_dir'}" maxlength="255">
        </div>
    </div>
    <div class="form-group apache">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='vhost_conf_enabled_dir_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="vhost_conf_enabled_dir" id="vhost_conf_enabled_dir" value="{tmpl_var name='vhost_conf_enabled_dir'}" maxlength="255">
        </div>
    </div>
    <div class="form-group nginx">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='nginx_vhost_conf_dir_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nginx_vhost_conf_dir" id="nginx_vhost_conf_dir" value="{tmpl_var name='nginx_vhost_conf_dir'}" maxlength="255">
        </div>
    </div>
    <div class="form-group nginx">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='nginx_vhost_conf_enabled_dir_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nginx_vhost_conf_enabled_dir" id="nginx_vhost_conf_enabled_dir" value="{tmpl_var name='nginx_vhost_conf_enabled_dir'}" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="language" class="col-sm-3 control-label">{tmpl_var name='security_level_txt'}</label>
        <div class="col-sm-6">
            <select name="security_level" id="security_level" class="form-control">
                {tmpl_var name='security_level'}
            </select>
        </div>
    </div>
    <div class="form-group apache">
        <label class="col-sm-3 control-label">{tmpl_var name='check_apache_config_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='check_apache_config'}
            </div>
        </div>
    </div>
    <div class="form-group apache">
        <label for="user" class="col-sm-3 control-label">{tmpl_var name='web_user_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="user" id="user" value="{tmpl_var name='user'}" maxlength="255">
        </div>
    </div>
    <div class="form-group apache">
        <label for="group" class="col-sm-3 control-label">{tmpl_var name='web_group_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="group" id="group" value="{tmpl_var name='group'}" maxlength="255">
        </div>
    </div>
    <div class="form-group nginx">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='nginx_user_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nginx_user" id="nginx_user" value="{tmpl_var name='nginx_user'}" maxlength="255">
        </div>
    </div>
    <div class="form-group nginx">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='nginx_group_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nginx_group" id="nginx_group" value="{tmpl_var name='nginx_group'}" maxlength="255">
        </div>
    </div>
    <div class="form-group nginx">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='nginx_cgi_socket_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nginx_cgi_socket" id="nginx_cgi_socket" value="{tmpl_var name='nginx_cgi_socket'}" maxlength="255">
        </div>
    </div>
    <div class="form-group apache">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='htaccess_allow_override_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="htaccess_allow_override" id="htaccess_allow_override" value="{tmpl_var name='htaccess_allow_override'}" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='enable_ip_wildcard_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='enable_ip_wildcard'}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='overtraffic_notify_admin_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='overtraffic_notify_admin'}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='overtraffic_notify_client_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='overtraffic_notify_client'}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='overquota_notify_admin_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='overquota_notify_admin'}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='overquota_notify_client_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='overquota_notify_client'}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='overquota_notify_freq_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="overquota_notify_freq" id="overquota_notify_freq" value="{tmpl_var name='overquota_notify_freq'}" maxlength="255">
            <span class="help-block">
                {tmpl_var name='overquota_notify_freq_note_txt'}
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='overquota_notify_onok_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='overquota_notify_onok'}
            </div>
        </div>
    </div>

    <hr/>

    <h2>{tmpl_var name='ssl_settings_txt'}</h2>

    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='enable_sni_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='enable_sni'}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='CA_path_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="CA_path" id="CA_path" value="{tmpl_var name='CA_path'}" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='CA_pass_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="CA_pass" id="CA_pass" value="{tmpl_var name='CA_pass'}" maxlength="255">
        </div>
    </div>

    <hr/>

    <h2>{tmpl_var name='permissions_txt'}</h2>

    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='set_folder_permissions_on_update_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='set_folder_permissions_on_update'}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='web_folder_protection_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='web_folder_protection'}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='add_web_users_to_sshusers_group_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='add_web_users_to_sshusers_group'}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='connect_userid_to_webid_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='connect_userid_to_webid'}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='connect_userid_to_webid_start_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="connect_userid_to_webid_start" id="connect_userid_to_webid_start" value="{tmpl_var name='connect_userid_to_webid_start'}" maxlength="255">
        </div>
    </div>

    <hr/>

    <h2>{tmpl_var name='php_settings_txt'}</h2>

    <div class="form-group apache">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='php_ini_path_apache_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="php_ini_path_apache" id="php_ini_path_apache" value="{tmpl_var name='php_ini_path_apache'}" maxlength="255">
        </div>
    </div>
    <div class="form-group apache">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='php_ini_path_cgi_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="php_ini_path_cgi" id="php_ini_path_cgi" value="{tmpl_var name='php_ini_path_cgi'}" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='php_fpm_init_script_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="php_fpm_init_script" id="php_fpm_init_script" value="{tmpl_var name='php_fpm_init_script'}" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='php_fpm_ini_path_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="php_fpm_ini_path" id="php_fpm_ini_path" value="{tmpl_var name='php_fpm_ini_path'}" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='php_fpm_pool_dir_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="php_fpm_pool_dir" id="php_fpm_pool_dir" value="{tmpl_var name='php_fpm_pool_dir'}" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='php_fpm_start_port_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="php_fpm_start_port" id="php_fpm_start_port" value="{tmpl_var name='php_fpm_start_port'}" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='php_fpm_socket_dir_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="php_fpm_socket_dir" id="php_fpm_socket_dir" value="{tmpl_var name='php_fpm_socket_dir'}" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='php_open_basedir_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="php_open_basedir" id="php_open_basedir" value="{tmpl_var name='php_open_basedir'}" maxlength="255">
        </div>
    </div>

    <hr/>

    <h2>{tmpl_var name='apps_vhost_settings_txt'}</h2>

    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='apps_vhost_port_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="apps_vhost_port" id="apps_vhost_port" value="{tmpl_var name='apps_vhost_port'}" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='apps_vhost_ip_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="apps_vhost_ip" id="apps_vhost_ip" value="{tmpl_var name='apps_vhost_ip'}" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='apps_vhost_servername_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="apps_vhost_servername" id="apps_vhost_servername" value="{tmpl_var name='apps_vhost_servername'}" maxlength="255">
        </div>
    </div>

    <hr/>

    <h2>{tmpl_var name='awstats_settings_txt'}</h2>

    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='awstats_conf_dir_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="awstats_conf_dir" id="awstats_conf_dir" value="{tmpl_var name='awstats_conf_dir'}" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='awstats_data_dir_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="awstats_data_dir" id="awstats_data_dir" value="{tmpl_var name='awstats_data_dir'}" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='awstats_pl_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="awstats_pl" id="awstats_pl" value="{tmpl_var name='awstats_pl'}" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='awstats_buildstaticpages_pl_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="awstats_buildstaticpages_pl" id="awstats_buildstaticpages_pl" value="{tmpl_var name='awstats_buildstaticpages_pl'}" maxlength="255">
        </div>
    </div>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-primary" type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','admin/server_config_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="btn btn-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('admin/server_config_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div><div class="form-group">
    </div>

    </div>
</div>
<script language="JavaScript" type="text/javascript">
    var serverType = jQuery('#server_type').val();
    jQuery('#server_type').replaceWith('<label for="server_Type">'+serverType+'</label><input type="hidden" name="server_type" value="'+serverType+'">');
    adjustForm();
    jQuery('#server_type').change(function(){
        serverType = $(this).val();
        adjustForm();
    });

    function adjustForm(){
        if(serverType == "nginx"){
            jQuery('.nginx').show();
            jQuery('.apache').hide();
        } else {
            jQuery('.nginx').hide();
            jQuery('.apache').show();
        }
    }
</script>
