<div class='page-header'>
    <h1><tmpl_var name="list_head_txt"></h1>
</div>

<div class="form-group">
    <label for="username" class="col-sm-3 control-label">{tmpl_var name='server_select_txt'}</label>
    <div class="col-sm-9">
        <select name="server_id" id="server_id" class="form-control" onChange="submitForm('pageForm','admin/software_update_list.php');">
            <tmpl_loop name="servers">
                <option value="{tmpl_var name='server_id'}" {tmpl_var name='selected'}>{tmpl_var name='server_name'}</option>
            </tmpl_loop>
        </select>
    </div>
</div>
<br/><br/>

<table class="table table-striped">
    <thead>
        <tr class="caption">
            <th class="tbl_col_installed" scope="col"><tmpl_var name="installed_txt"></th>
            <th class="tbl_col_update_title" scope="col"><tmpl_var name="update_title_txt"></th>
            <th class="tbl_col_version" scope="col"><tmpl_var name="version_txt"></th>
        </tr>
    </thead>
    <tbody>
        <tmpl_loop name="records">
            <tr>
                <td class="tbl_col_installed">{tmpl_var name="installed"}</td>
                <td class="tbl_col_update_title">{tmpl_var name="update_title"}</td>
                <td class="tbl_col_version">{tmpl_var name="version"}</td>
            </tr>
        </tmpl_loop>
        <tmpl_unless name="records">
            <tr>
                <td colspan="3">{tmpl_var name='no_updates_txt'}</td>
            </tr>
        </tmpl_unless>
    </tbody>
    <tfoot>
        <tr>
            <td class="tbl_footer tbl_paging" colspan="3"></td>
        </tr>
    </tfoot>
</table>