<div class="form-horizontal">
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='repo_name_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="repo_name" id="repo_name" value="{tmpl_var name='repo_name'}" size="30" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='repo_url_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="repo_url" id="repo_url" value="{tmpl_var name='repo_url'}" size="30" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='repo_username_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="repo_username" id="repo_username" value="{tmpl_var name='repo_username'}" size="30" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{tmpl_var name='repo_password_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="repo_password" id="repo_password" value="{tmpl_var name='repo_password'}" size="30" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='active_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='active'}
            </div>
        </div>
    </div>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-primary" type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','admin/software_repo_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="btn btn-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('admin/software_repo_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
</div>