<div class="panel panel-default panel-login">
    <div class="panel-heading"></div>
    <div class="panel-body">

        <tmpl_if name='msg'>
            <div class="alert alert-info" role="alert">
                <tmpl_var name="msg">
            </div>
        </tmpl_if>
        <tmpl_if name='error'>
            <div class="alert alert-danger" role="alert">
                <tmpl_var name="error"><br /><a href="#" onclick="loadContent('login/password_reset.php');">{tmpl_var name='pw_lost_txt'}</a></div>
            </div>
        </tmpl_if>

        <div class="form-horizontal">
            <div class="form-group">
                <label for="email" class="col-sm-4 control-label">{tmpl_var name='email_txt'}</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="email" id="email" value="{tmpl_var name='email'}" maxlength="255">
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-4 control-label">{tmpl_var name='username_txt'}</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="username" id="username" value="{tmpl_var name='username'}" maxlength="255">
                </div>
            </div>

            <input type="hidden" name="s_mod" value="login" />
            <input type="hidden" name="s_pg" value="index" />

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button class="btn btn-primary" type="button" value="{tmpl_var name='pw_button_txt'}" onclick="submitForm('pageForm','login/password_reset.php');"><span>{tmpl_var name='pw_button_txt'}</span></button>
                    <button class="btn btn-default" type="button" value="{tmpl_var name='back_txt'}" onclick="loadInitContent();"><span>{tmpl_var name='back_txt'}</span></button>
                </div>
            </div>
        </div>
  </div>
</div>