<div class='page-header'>
    <h1><tmpl_var name="list_head_txt"></h1>
</div>

<div class="form-horizontal">

    <tmpl_if name='number_records'>
        <tmpl_var name="delete_explanation">:<br /><br />
        <tmpl_loop name="records">
            <tmpl_var name="table">,
        </tmpl_loop>
    </tmpl_else>
        <tmpl_var name="confirm_client_delete_txt">
    </tmpl_if>

    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='confirm_action_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                <input type="checkbox" name="confirm" value="yes" />
            </div>
        </div>
    </div>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-primary" type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','client/client_del.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="btn btn-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('client/client_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
</div>