<div class="form-horizontal">

    <div class="form-group">
        <label for="email" class="col-sm-3 control-label">{tmpl_var name='source_txt'}</label>
        <div class="col-sm-6">
            <div class="input-group">
                <div class="input-group-addon">@</div>
                <select name="email_domain" id="email_domain" class="form-control">
                    {tmpl_var name='email_domain'}
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="destination" class="col-sm-3 control-label">{tmpl_var name='destination_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="destination" id="destination" value="{tmpl_var name='destination'}" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='active_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='active'}
            </div>
        </div>
    </div>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">
    <input type="hidden" name="type" value="catchall">

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-primary" type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','mail/mail_domain_catchall_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="btn btn-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('mail/mail_domain_catchall_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
</div>
