<div class="form-horizontal">

    <div class="form-group">
        <label for="type" class="col-sm-3 control-label">{tmpl_var name='type_txt'}</label>
        <div class="col-sm-6">
            <select name="type" id="type" class="form-control">
                {tmpl_var name='type'}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="source_server" class="col-sm-3 control-label">{tmpl_var name='source_server_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="source_server" id="source_server" value="{tmpl_var name='source_server'}" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="source_username" class="col-sm-3 control-label">{tmpl_var name='source_username_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="source_username" id="source_username" value="{tmpl_var name='source_username'}" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="source_password" class="col-sm-3 control-label">{tmpl_var name='source_password_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="source_password" id="source_password" value="{tmpl_var name='source_password'}" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='source_delete_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='source_delete'}
                <br/>
                <span class="help-block">
                    {tmpl_var name="source_delete_note_txt"}
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='source_read_all_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='source_read_all'}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="destination" class="col-sm-3 control-label">{tmpl_var name='destination_txt'}</label>
        <div class="col-sm-6">
            <select name="destination" id="destination" class="form-control">
                {tmpl_var name='destination'}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='active_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='active'}
            </div>
        </div>
    </div>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-primary" type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','mail/mail_get_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="btn btn-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('mail/mail_get_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
</div>
