<div class='page-header'>
    <h1><tmpl_var name="list_head_txt">
        <button class="btn btn-success pull-right" type="button" onclick="loadContent('mail/spamfilter_users_edit.php')">{tmpl_var name="add_new_record_txt"}</button>
    </h1>
</div>

<table class="table table-hover">
    <thead class="form-group">
        <tr>
            <th><tmpl_var name="local_txt"></th>
            <th><tmpl_var name="server_id_txt"></th>
            <th><tmpl_var name="priority_txt"></th>
            <th><tmpl_var name="policy_id_txt"></th>
            <th><tmpl_var name="fullname_txt"></th>
            <th>{tmpl_var name='search_limit'}</th>
        </tr>
        <tr>
            <td><select class="form-control" name="search_local">{tmpl_var name='search_local'}</select></td>
            <td><select class="form-control" name="search_server_id">{tmpl_var name='search_server_id'}</select></td>
            <td><select class="form-control" name="search_priority">{tmpl_var name='search_priority'}</select></td>
            <td><select class="form-control" name="search_policy_id">{tmpl_var name='search_policy_id'}</select></td>
            <td><input class="form-control" type="text" name="search_fullname" value="{tmpl_var name='search_fullname'}" /></td>
            <td><button type="button" class="btn btn-default" name="Filter" id="Filter" value="{tmpl_var name="filter_txt"}" onclick="submitForm('pageForm','mail/spamfilter_users_list.php');"><span>{tmpl_var name="filter_txt"}</span></button>
            </td>
        </tr>
    </thead>
    <tbody>
        <tmpl_loop name="records">
            <tr>
                <td><a href="#" onclick="loadContent('mail/spamfilter_users_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="local"}</a></td>
                <td><a href="#" onclick="loadContent('mail/spamfilter_users_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="server_id"}</a></td>
                <td><a href="#" onclick="loadContent('mail/spamfilter_users_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="priority"}</a></td>
                <td><a href="#" onclick="loadContent('mail/spamfilter_users_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="policy_id"}</a></td>
                <td><a href="#" onclick="loadContent('mail/spamfilter_users_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="fullname"}</a></td>
                <td>
                    <a class="btn btn-danger" href="javascript: del_record('mail/spamfilter_users_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tmpl_loop>
        <tmpl_unless name="records">
            <tr>
                <td colspan="6">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
            </tr>
        </tmpl_unless>
    </tbody>
    <tfoot>
        <tr>
            <td class="tbl_footer tbl_paging" colspan="<tmpl_if name="enable_custom_login">5<tmpl_else>4</tmpl_if>"><tmpl_var name="paging"></td>
        </tr>
    </tfoot>
</table>