<div class="form-horizontal">

    <div class="form-group">
        <label for="rid" class="col-sm-3 control-label">{tmpl_var name='rid_txt'}</label>
        <div class="col-sm-6">
            <select name="rid" id="rid" class="form-control">
                {tmpl_var name='rid'}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-3 control-label">{tmpl_var name='email_txt'}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="email" id="email" value="{tmpl_var name='email'}" maxlength="255">
        </div>
    </div>
    <div class="form-group">
        <label for="priority" class="col-sm-3 control-label">{tmpl_var name='priority_txt'}</label>
        <div class="col-sm-6">
            <select name="priority" id="priority" class="form-control">
                {tmpl_var name='priority'}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{tmpl_var name='active_txt'}</label>
        <div class="col-sm-6">
            <div class="checkbox">
                {tmpl_var name='active'}
            </div>
        </div>
    </div>


    <input type="hidden" name="id" value="{tmpl_var name='id'}">
    <input type="hidden" name="wb" value="{tmpl_var name='wb'}">

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-primary" type="button" value="{tmpl_var name='btn_save_txt'}" onclick="submitForm('pageForm','mail/spamfilter_whitelist_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
            <button class="btn btn-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" onclick="loadContent('mail/spamfilter_whitelist_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
        </div>
    </div>
</div>
